* {
	padding: 0;
	margin: 0;
}

#container {
	width: 600px;
	margin: 50px auto;
}

/*BUTTON STYLES*/
.button {
  width: 200px;
  margin: 50px;
  float: left; /*FOR DISPLAY ONLY*/
}

.button a {
  display: block;
  height: 50px;
  width: 200px;
  outline: none 0;
  /*TYPE*/
  color: white;
  font: 17px/50px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
 }

.button p {
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

p {
  background: #222;
  display: block;
  height: 40px;
  width: 185px; 
  margin: -45px 0 0 10px;
  text-align: center;
  font: 12px/45px Helvetica, Verdana, sans-serif;
  color: #fff;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}



/*ACTIVE*/
.button.btn3d a{
	position: relative;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: rgba(219,87,5,1);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 2em;
  display: block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
.button.btn3d p {
	background: rgba(219,31,5,0.8);
}

.button.wood,
.button.wood2 {
	position: relative;
	border: none;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
			    inset 0px -5px 0px 0px rgba(0,0,0,0.3),
				inset 0px 2px 0px 0px rgba(255,255,255,0.5);
	border-radius: 5px;
	cursor: pointer;
	background: url(http://subtlepatterns.com/patterns/wood_pattern.png);
}
.button.wood2  {
	background: url(http://subtlepatterns.com/patterns/tileable_wood_texture.png);
}
.button.wood:active,
.button.wood2:active {
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
			    inset 0px -2px 0px 0px rgba(0,0,0,0.3),
				inset 0px 2px 0px 0px rgba(255,255,255,0.5);
	top: 3px;
}
.button.wood a,
.button.wood2 a  {
	padding: 5px 0;
	color: rgba(0,0,0,0.7);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
	font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 2em;
}

.button.wood p {
background: url(http://subtlepatterns.com/patterns/wood_pattern.png);
color: #000;
}
.button.wood2 p{
background: url(http://subtlepatterns.com/patterns/tileable_wood_texture.png);
color: #000;
}
.button.wood2 a.shine {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.62) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.62)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0.62) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9effffff', endColorstr='#00ffffff',GradientType=0 );
}

.button.twoColor a {	
	color: #66952e;	
	padding: 4px 0px;
	border-radius: 4px;
	font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 2em;
	color:#fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	background: #c0d59f;
	background: -moz-linear-gradient(top, #c0d59f 51%, #aec985 51%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#c0d59f), color-stop(51%,#aec985));
	background: -webkit-linear-gradient(top, #c0d59f 51%,#aec985 51%);
	background: -o-linear-gradient(top, #c0d59f 51%,#aec985 51%);
	background: -ms-linear-gradient(top, #c0d59f 51%,#aec985 51%);
	background: linear-gradient(top, #c0d59f 51%,#aec985 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d59f', endColorstr='#aec985',GradientType=0 );
}
.button.twoColor p {
	background: #AEC985;
	color: #000;
}

.button.animateBtn a{
	font:bold 30px/50px Calibri, Arial, sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	text-decoration:none !important;
	white-space:nowrap;
	position:relative;
	cursor:pointer;
	padding:4px 0;
	background-repeat:no-repeat;
	background-position: top right, 0 0, 0 0;
	background-clip:border-box;
	border-radius:8px;
	box-shadow:0 0 1px #fff inset;
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
	color:#0f4b6d !important;
	border:1px solid #84acc3 !important;
	background-color: #48b5f2;
	background-image: url('http://cssdeck.com/uploads/media/items/6/6Wl44TI.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px),
						-moz-linear-gradient(#4fbbf7, #3faeeb);
	background-image:	 url('http://cssdeck.com/uploads/media/items/6/6Wl44TI.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(89,208,244,1)), to(rgba(89,208,244,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

.button.animateBtn a:hover{
	background-position: bottom right, 0 0, 0 0;
	background-color:#63c7fe;	
	background-image:	url('http://cssdeck.com/uploads/media/items/6/6Wl44TI.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
						-moz-linear-gradient(#63c7fe, #58bef7);
						
	background-image: url('http://cssdeck.com/uploads/media/items/6/6Wl44TI.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));

}

.button.animateBtn a:active{
	bottom:-1px;
}
.button.animateBtn p {
	background-color:#63c7fe;	
}

.button.tag a{
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  padding: 4px 0px;
  font:bold 25px/50px 'Helvetica Neue', helvetica, sans-serif;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
	color: #996633;
    border: 1px solid #DDA13C;
    background: rgb(238,177,75);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlYjE0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzkxMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(238,177,75,1) 0%, rgba(204,145,45,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,177,75,1)), color-stop(100%,rgba(204,145,45,1)));
    background: -webkit-linear-gradient(top,  rgba(238,177,75,1) 0%,rgba(204,145,45,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,177,75,1) 0%,rgba(204,145,45,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,177,75,1) 0%,rgba(204,145,45,1) 100%);
    background: linear-gradient(top,  rgba(238,177,75,1) 0%,rgba(204,145,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeb14b', endColorstr='#cc912d',GradientType=0 );
}
.button.tag a:hover {
    text-decoration: none;    
    background: rgb(240,183,86);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwYjc1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmEwNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(240,183,86,1) 0%, rgba(214,160,68,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,183,86,1)), color-stop(100%,rgba(214,160,68,1)));
    background: -webkit-linear-gradient(top,  rgba(240,183,86,1) 0%,rgba(214,160,68,1) 100%);
    background: -o-linear-gradient(top,  rgba(240,183,86,1) 0%,rgba(214,160,68,1) 100%);
    background: -ms-linear-gradient(top,  rgba(240,183,86,1) 0%,rgba(214,160,68,1) 100%);
    background: linear-gradient(top,  rgba(240,183,86,1) 0%,rgba(214,160,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b756', endColorstr='#d6a044',GradientType=0 );
}
.button.tag p {
background: rgb(240,183,86);
color: #000;
}
/*HOVER*/
.button:hover .bottom {
  margin: 0px 0 0 10px;
}
.button.wood:hover .bottom {
	margin: -10px 0 0 10px;
	box-shadow: none;
}
.button:hover .top {
  margin: -90px 0 0 10px;
  line-height: 35px;
}

.button:hover .right {
  margin: -48px 0 0 190px;
  width: 100px;
}

.button:hover .left {
  margin: -48px 0 0 -90px;
  width: 100px;
}
.button.btn3d a:active {
  box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 6px;
}

.button:active .bottom {
  margin: -35px 0 0 10px;
}
.button.wood:active .bottom {
	margin: -45px 0 0 10px;
}
.button:active .top {
  margin: -50px 0 0 10px;
}

.button:active .right {
  margin: -48px 0 0 0px;
  width: 100px;
}

.button:active .left {
  margin: -48px 0 0 0px;
  width: 100px;
}